.payment-line {
    text-align: left;
    font-size: 20px;
    margin-bottom: 35px;
}

.payment-line ul {
    list-style: none;
    /* border-bottom : solid black 1px; */
    padding-left: 30px;
    margin-bottom: 0;
}

.payment-line li {
    display: inline-block;
    margin-right: 30px;
}

.inputDate {
    margin-inline: 20px;
    width: 130px;
    height: 30px;
}

.payment-type1 {
    width: 150px;
    height: 30px;
    margin-right: 20px;
}
.payment-status {
    width: 150px;
    height: 30px;
    margin-right: 20px;
}

.payment-insert-button {
    width: 150px;
    margin-left: 100px;
    height: 40px;
    background-color: #dcdcff;
    border: none;
}

.table-hover > tbody > tr:hover > * {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
}

.table th,
.table td,
.table tr {
    height: 45px; /* 또는 다른 크기로 지정 */
}

#annual-time {
    margin-left: 20px;
    width: 28%;
}

#annual-date {
    margin-left: 20px;
    width: 28%;
}

#pageBtn1 {
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: center;
}

#appSpan {
    margin: 10%;
}

.refSpan {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
