.payment-type {
    width: 100%;
    height: 800px;
    background-color: #f5f5f9;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;
}

.people {
    width: 40%;
}

.in-people {
    display: flex;
    align-items: center;
}

#payment-type {
    margin-left: 20px;
    width: 60%;
}

#manager-btn {
    margin-top: 40px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

#tree-btn {
    width: 100px;
    border: none;
    box-shadow: 0px 0px 10px #bbbdfc;
    background-color: #bbbdfc;
    border-color: #bbbdfc;
    color: white;
}

.payment-manager {
    width: 100%;
    height: 15%;
    background-color: white;
}

#manager-btn2 {
    margin-top: 40px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

#tree-btn2 {
    width: 100px;
    border: none;
    box-shadow: 0px 0px 10px #bbbdfc;
    background-color: #bbbdfc;
    border-color: #bbbdfc;
    color: white;
}

#payment-manager2 {
    width: 100%;
    height: 40%;
    background-color: white;
}

#payment-manager1 {
    width: 100%;
    height: 10%;
    background-color: white;
}

.kind {
    width: 60%;
    background-color: white;
    margin-left: 150px;
    margin-top: 60px;
    margin-right: 50px;
    margin-bottom: 25px;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
}

.kind input,
select,
textarea {
    border: solid 1px #e0dfdf;
}

#input-name {
    margin-left: 20px;
    border: solid 1px #e0dfdf;
    width: 80%;
}

/* #margintop div {
    margin-top: 40px;
} */

#clean-btn {
    width: 20%;
    box-shadow: 0px 0px 10px #bbbdfc;
    background-color: #bbbdfc;
    border-color: #bbbdfc;
}

#complete-payment {
    width: 20%;
    box-shadow: 0px 0px 10px #bbbdfc;
    background-color: #bbbdfc;
    border-color: #bbbdfc;
    color: white;
}

/* #last-thing {
    display: flex;
    justify-content: space-between;
} */

#req-document-div {
    margin-top: 100px;
}

#req-document {
    width: 68%;
    margin-bottom: 100px;
}

#document-contents {
    height: 200px;
    width: 75%;
    margin-left: 46px;
    margin-bottom: 100px;
}
