.memberCodeInput {
  width: 280px; /* 입력창의 너비를 조절합니다. 100%는 부모 요소의 전체 너비를 차지하도록 합니다. */
  padding: 10px; /* 내부의 상하좌우 여백을 조절합니다. */
  margin-bottom: 15px; /* 입력창 아래의 여백을 조절합니다. */
  border-radius: 5px; /* 입력창의 모서리를 둥글게 처리합니다. */
  border: 1px solid #ccc; /* 입력창의 테두리를 설정합니다. */
  display: flex; /* Flexbox 사용 설정 */
  justify-content: center; /* 가로 축에서 중앙 정렬 */
  align-items: center; /* 세로 축에서 중앙 정렬 */
  

}

.memberPasswordInput {
  width: 280px; /* 동일하게 비밀번호 입력창의 너비를 조절합니다. */
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex; /* Flexbox 사용 설정 */
  justify-content: center; /* 가로 축에서 중앙 정렬 */
  align-items: center; /* 세로 축에서 중앙 정렬 */
}

#btn btn-primary{
width: 280px; /* 동일하게 비밀번호 입력창의 너비를 조절합니다. */
padding: 10px;
margin-bottom: 15px;
border-radius: 5px;
border: 1px solid #ccc;
display: flex; /* Flexbox 사용 설정 */
justify-content: center; /* 가로 축에서 중앙 정렬 */
align-items: center; 
}
.card{
  display: flex;
  flex-direction: column; /* 자식 요소들을 수직 방향으로 정렬 */
  align-items: center; /* 가로 축을 기준으로 가운데 정렬 */
  justify-content: center;  /* 세로 축을 기준으로 가운데 정렬 (필요한 경우) */
  height: 100vh; /* 부모 컨테이너의 높이를 전체 화면으로 설정 */
}

.loginControl{

left: 1000px;
top: 2000px;
}

.before-Login{

left: 1000px;
top: 2000px;
}

